@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&family=Special+Elite&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* height: 100%; */
}
.main-content {
  height: calc(100vh - 150px);
  overflow-y: auto;
}
.my-pic {
  width: 50%;
  height: auto;
  margin-top: 150px;

}


.content {
  flex: 1;
}
.border-blue {
  border-color: #5c908a;
}

.image-container {
  background-color: #6b564b;
  background-blend-mode: multiply;
 
}




