@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&family=Special+Elite&display=swap');




/* .fa-facebook-f {
 color: #7b304e;

  top: 45%;
}

.fa-instagram {

  color:#6b564b;
  top: 50%;
}

.fa-tiktok {
   
    color: black;
    top: 55%;
  }

  .fa-brands  {
    position: fixed;
    left: 2%;
    transform: translateY(-50%);
    display: block;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .fa-brand:hover {
    opacity: 0.7;
} */



